# Notion
NOTION_TOKEN=
NOTION_PAGE_ID=

# Open Finance Provider
BANKING_PROVIDER=pierre
BANKING_API_KEY=
BANKING_BASE_URL=

# Client
CLIENT_NAME=
CLIENT_SLUG=
CLIENT_TIMEZONE=America/Maceio
CLIENT_CURRENCY=BRL
